
<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
    <title>Phaser </title>
	<script type="text/javascript" src="js/phaser.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>




<script type="text/javascript" src="src/Preload.js"> </script>	
<script type="text/javascript" src="src/Boot.js"> </script>	
<script type="text/javascript" src="src/Game.js"> </script>	


<script type="text/javascript" src="src/Main.js"> </script>	


    </body>
</html>